.quote-card{
    border: 2px solid black;
    width: 600px;
    min-height: 250px;
    display: flex;
    padding: 15px;
    gap: 15px;
    background-color: #ffafcc;
    border-radius: 30px;
    box-shadow:  20px 20px 60px #bebcbc, -20px -20px 60px #fffefe;
}

.quote-card img{
    width: 30%;
    border-radius: 30px;
}

.quote-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-card-body p h2{
    font-size: 3rem;
    margin-bottom: -25px;
}

.quote-card-body .btns{
    display: flex;
    gap: 10px;
    font-size: 25px;
    cursor: pointer;
}